APPLICATION_NAME=
GRPC_SERVER_PORT=

#DATABASE CONFIGURATIONS
DB_HOST=
DB_PORT=
DB_SCHEMA=
DB_USERNAME=
DB_PASSWORD=
#'none' in production to avoid data loss, 'update' to generate tables
DB_DDL=update